* {
  color: #363636;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  text-decoration: none;
  
}

h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 75px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8.5%;
  margin-right: 8.5%;
}

button {
  cursor: pointer;
  outline: none;
}

header h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

nav a {
  color: #878686;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 32px;
}

nav button {
  border: 1.75px solid #1E90FF;
  border-radius: 4px;
  color: #1E90FF;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 16px;
  text-align: center;
}

nav button:hover {
  background: #1E90FF;
  color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 8.5%;
  margin-right: 8.5%;
  margin-top: 120px;
  margin-bottom: 10%;
}

@media (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row;
  }
}

#UVP {
  max-width: 54%;
}

main h1 {
  width: 719px;
  height: 150px;
  font-weight: 500;
}

main p {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.9px;
  color: #878686;
  margin-top: 32px;
  width: 663px;
  height: 90px;
}

main button {
  border: none;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.6px;
  background: #1E90FF;
  color: white;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  padding: 15px 46px;
  margin-top: 40px;
}

main button:hover {
  background: #FFFFFF;
  color: #1E90FF;
  border: 1.75px solid #1E90FF;
  padding: 13px 44px;
}

.blue {
  color: #1E90FF;
}

.blue-grey {
  color: #1E90FF;
  background: #F9F9F9;
}

#point {
  font-weight: 700;
}

#proof {
  display: flex;
  flex-direction: column;
  background: #F9F9F9;
}

@media (min-width: 1000px) {
  #proof {
    display: flex;
    flex-direction: row;
  }
}

#main {
  display: flex;
  flex-direction: column;
  padding-left: 8.5%;
  background: #F9F9F9;
  width: 47%;
  padding-top: 15%;
  padding-bottom: 5%;
}

#proof h2 {
  font-weight: 500;
  font-size: 48px;
  background: #F9F9F9;
  line-height: 59px;
  letter-spacing: 1.37143px;
  padding-bottom: 5%;
}

#proof h3 {
  font-weight: 500;
  font-size: 24px;
  background: #F9F9F9;
  line-height: 45px;
  letter-spacing: 1.37143px;
}

#proof p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.4px;
  background: #F9F9F9;
  color: #878686;
  padding-left: 5%;
}

#proof div {
  background: #F9F9F9;
}

#man {
  background: #F9F9F9;
  width: 100%;
  margin-top: 15%;
  margin-left: 15%;
}

#plan {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 10%;
  padding-bottom: 10%;
}

#plan h1 {
  font-size: 48px;
  line-height: 75px;
  letter-spacing: 1.2px;
  width: 100%;
}

#plan button {
  border: 1.75px solid #1E90FF;
  border-radius: 4px;
  color: #1E90FF;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  padding: 15px 35px;
  text-align: center;
  width: 40%;
}

#plan button:hover {
  background: #1E90FF;
  color: #FFFFFF;
}

#plan-CTA {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 8.5%;
}

#robot2 {
  margin-left: 8.5%;
}

/* All code for the initial section */

